* {
    padding: 0%;
    margin: 0%;
}

body {
    background: linear-gradient(90deg, #f7d06b, #f7974e, #f8572e);
}

.intro {
    background-image: url('images/header.jpg');
    height: 300px;
    background-size: cover;
}

#i {
    background: linear-gradient(90deg, #ffcf5c, #ff8a3d, #ff3b2e);
    -webkit-background-clip: text;
    color: transparent;
    padding: 50px;
    text-align: center;
    font-size: 10rem;
}

img {
    width: 220px;
    height: 220px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

h2 {
    padding: 10px;
}

h3 {
    padding: 10px;
}

.container div {
    background-color: white;
    border-color: whitesmoke;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px;
    margin: 50px;
    box-shadow: 0 14px 28px rgpa(0, 0, 0, 0.2), 0 10px 10px rgpa(0, 0, 0, 0.22);
    transition: 0.4s;
}

.container div:hover {
    box-shadow: 0 14px 28px rgpa(0, 0, 0, 0.2), 0 10px 10px rgpa(0, 0, 0, 0.22);
    transform: translate(0px, -8px);
}

button {
    background-color: rgb(239, 239, 247);
    color: black;
    padding: 10px;
    margin: 10px;
    width: 200px;
    font-size: 20px;
    border-color: black;

}

button:hover {
    background: linear-gradient(90deg, #f7d06b, #f7974e, #f8572e);
    color: white;
}